<p id="notice"><%= notice %></p>
<thead>
 <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
  </thead>

  <strong> TON ACTION:</strong>
  <%= @dare.text %>


<%= link_to 'Edit', edit_dare_path(@dare) %> 
<%= link_to 'Back', dares_path %>
