
<thead>
<h1 id= rouge><%= link_to 'Action', Dare.all.sample %> </h1> <body>ou </body>
<h1 id= bleue><%= link_to 'Vérité', Truth.all.sample %> </h1> 
 <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
<thead>