<thead>
 <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
  </thead>

<body>Ici, tu peux modifier ta vérité !</body>

<%= render 'form', truth: @truth %>

<%= link_to 'Show', @truth %> |
<%= link_to 'Back', truths_path %>
