<p id="notice"><%= notice %></p>

<thead>
 <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
  </thead>

<p>
  <strong>TA VERITE:</strong>
  <%= @truth.text %>
</p>

<%= link_to 'Edit', edit_truth_path(@truth) %> |
<%= link_to 'Back', truths_path %>
